<!doctype html>
<html>
  <head>
    <title>{{make.title}}</title>
    <link rel="stylesheet" href="/static/stylesheets/makedetails.css">
  </head>
  <body>
    <div class="make-details-page">
      <div class="make-details hide">
        <iframe id="make-details-iframe" src="{{WEBMAKERORG}}/details/?id={{make.id}}"></iframe>
      </div>
      <div class="make-bar">
        <div class="make-bar-wrapper">
          <span class="make-bar-logospan">
            <a class="make-bar-link" href="{{WEBMAKERORG}}">
              <img src="/static/images/logo_small.png" alt="Mozilla Webmaker">
            </a>
            <span class="make-bar-made-with">
              Made with <a class="make-bar-link" href="https://webmaker.org">Webmaker</a>
            </span>
          </span>
          <span class="make-bar-expand-collapse">
            Details<img src="/static/images/icon-arrow-down.png">
          </span>
          <div class="make-bar-button">
            <a href="{{vanityURL}}/remix" target="_blank" class="make-bar-button-remix make-bar-link"><span>Remix</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="embed-container {{ "popcorn" if make.contentType == "application/x-popcorn" }}">
      <iframe class="embed-iframe" src="{{vanityURL}}_"></iframe>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      var $toggle = $('.make-bar-expand-collapse'),
          $details = $('.make-details'),
          $arrow = $('img', $toggle),
          $projectContainer = $(".embed-container"),
          $detailsContainer = $('.make-details-page'),
          detailsHidden = window.location.toString().indexOf('details=hidden') > -1,
          nav_open = false;

      $toggle.on('click', function(e) {
        $details.slideToggle({
          duration: 200,
          easing: 'linear'
        });

        if (nav_open) {
          nav_open = false;
          $projectContainer.removeClass("open");
          $arrow.attr('src', '/static/images/icon-arrow-down.png');
        } else {
          nav_open = true;
          $projectContainer.addClass("open");
          $arrow.attr('src', '/static/images/icon-arrow-up.png');
        }
      });

      if (detailsHidden) {
        $projectContainer.addClass('no-details');
        $detailsContainer.addClass('no-details');
      }
    </script>
  </body>
</html>
