<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Webmaker | {{username}}</title>
    <link rel="icon" href="/favicon.ico">
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }

      .embed-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .embed-iframe {
        height: 100%;
        width: 100%;
        border: 0;
      }
    </style>
  </head>
  <body>
    <div class="embed-container">
      <iframe class="embed-iframe" src="{{PROFILE_URL}}/?username={{username}}"></iframe>
    </div>
  </body>
</html>

{% include "googleanalytics.html" %}
