/*********************************************************
 * Profile Embed
 */

body {
  margin: 0;
  padding: 0;
}

.embed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embed-iframe {
  height: 100%;
  width: 100%;
}
